body {
    background-color: #000;
    font-family: 'Eliza';
    overflow: hidden;
  }
  
  @font-face { 
    font-family: 'Eliza'; 
    src: url(Typeface/ElizaMono.ttf);
} 

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling and potential border effects */
}

#canvas, #video {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  display: block; /* Remove extra spacing */
}


* {
  cursor: pointer !important;
}
